@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	height: 100dvh;
	background-color: rgb(var(--background-start-rgb));
}

@layer base {
	@media screen and (min-width: 600px) {
		.netflix-container {
			max-width: calc(100% - 4rem);
		}
	}

	@media screen and (min-width: 960px) {
		.netflix-container {
			max-width: calc(100% - 4rem);
		}
	}

	@media screen and (min-width: 1280px) {
		.netflix-container {
			max-width: calc(83.33333333333334% - 6rem);
		}
	}
}
