@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
	display: none;
}

:root {
	--foreground-rgb: #333;
	--background-start-rgb: 0, 0, 0;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	height: 100dvh;
	background-color: rgb(var(--background-start-rgb));
	overflow-x: hidden;
}

@layer base {
	.arrow-down {
		border-color: #fff transparent transparent;
		border-style: solid;
		border-width: 5px 5px 0;
		height: 0;
		position: absolute;
		right: 10px;
		top: 44%;
		width: 0;
	}

	@media screen and (min-width: 600px) {
		.netflix-container {
			max-width: calc(100% - 4rem);
		}
	}

	@media screen and (min-width: 960px) {
		.netflix-container {
			max-width: calc(100% - 4rem);
		}
	}

	@media screen and (min-width: 1280px) {
		.netflix-container {
			max-width: calc(83.33333333333334% - 6rem);
		}
	}

	.error-radial-bg::before {
		background: radial-gradient(
			ellipse at center,
			rgba(0, 0, 0, 0.5) 0,
			rgba(0, 0, 0, 0.2) 45%,
			rgba(0, 0, 0, 0.1) 55%,
			transparent 70%
		);
		bottom: -10vw;
		content: "";
		left: 10vw;
		position: absolute;
		right: 10vw;
		top: -10vw;
		z-index: 0;
	}
}
