.netflix-carousel {
	padding: 0 20px;
}

/* .slick-list {
	overflow: visible;
} */

.slick-slide-custom {
	padding: 0 3.5px;
}

.netflix-carousel .movie {
	position: relative;
	overflow: hidden;
	border-radius: 10px;
}

.netflix-carousel .movie img {
	width: 100%;
	border-radius: 10px;
	transition: transform 0.3s ease;
}

.netflix-carousel .movie:hover img {
	transform: scale(1.1);
}

.netflix-carousel .movie h3 {
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: #fff;
	font-size: 1.2em;
	text-shadow: 2px 2px 4px #141414b7;
	margin: 0;
}

/* ARROWS START */
.slick-next,
.slick-prev {
	height: 105%;
	display: flex !important;
	align-items: center;
	width: 50px;
	justify-content: center;
	opacity: 0;
	transition: all 0.4s ease;
	background: linear-gradient(to left, rgba(0, 0, 0, 0) 40%, transparent);
	z-index: 10;
}

.slick-next:hover {
	background: linear-gradient(to left, #141414b7 40%, transparent) !important;
}

.slick-prev:hover {
	background: linear-gradient(to right, #141414b7 40%, transparent) !important;
}

.slick-next:hover::before,
.slick-prev:hover::before {
	transform: translateY(-50%) scale(0.9);
}

.slick-next::before,
.slick-prev::before {
	content: "";
	position: absolute;
	height: 34px;
	width: 34px;
	color: white;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	top: 50%;
	opacity: 1;
	transform: translateY(-50%) scale(0.8);
	transition: all 0.4s ease;
}

.slick-next::before {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewBox='0 0 320 512'%3E%3Cpath fill='white' d='M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256L73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z'/%3E%3C/svg%3E");
}

.slick-prev::before {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewBox='0 0 320 512'%3E%3Cpath fill='white' d='M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256L246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z'/%3E%3C/svg%3E");
}

.slick-slider:hover .slick-next {
	opacity: 1;
	background: linear-gradient(to left, #141414b7 40%, transparent);
}

.slick-slider:hover .slick-prev {
	opacity: 1;
	background: linear-gradient(to right, #141414b7 40%, transparent);
}

@media screen and (min-width: 576px) {
	.slick-next,
	.slick-prev {
		width: 70px;
	}
	.slick-next::before,
	.slick-prev::before {
		height: 38px;
		width: 38px;
	}

	.slick-next::before {
		background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='38' height='38' viewBox='0 0 320 512'%3E%3Cpath fill='white' d='M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256L73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z'/%3E%3C/svg%3E");
	}

	.slick-prev::before {
		background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='38' height='38' viewBox='0 0 320 512'%3E%3Cpath fill='white' d='M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256L246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z'/%3E%3C/svg%3E");
	}
}

@media screen and (min-width: 768px) {
	.slick-next,
	.slick-prev {
		width: 90px;
	}
	.slick-next::before,
	.slick-prev::before {
		height: 44px;
		width: 44px;
	}

	.slick-next::before {
		background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewBox='0 0 320 512'%3E%3Cpath fill='white' d='M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256L73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z'/%3E%3C/svg%3E");
	}

	.slick-prev::before {
		background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewBox='0 0 320 512'%3E%3Cpath fill='white' d='M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256L246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z'/%3E%3C/svg%3E");
	}
}

@media screen and (min-width: 992px) {
	.slick-next,
	.slick-prev {
		width: 130px;
	}
	.slick-next::before,
	.slick-prev::before {
		height: 52px;
		width: 52px;
	}

	.slick-next::before {
		background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='52' height='52' viewBox='0 0 320 512'%3E%3Cpath fill='white' d='M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256L73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z'/%3E%3C/svg%3E");
	}

	.slick-prev::before {
		background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='52' height='52' viewBox='0 0 320 512'%3E%3Cpath fill='white' d='M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256L246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z'/%3E%3C/svg%3E");
	}
}
